* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 3000px;
}

.header-container {
  width: 100%;
  height: auto;
  position: fixed;
  background-color: white;
  z-index: 10;
  transition: 0.3s;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

/* classe responsavel pela animação do header */
.change-color-header {
  background-color: black;
  color: white;
}

/* Section Welcome */

.welcome-main {
  position: relative;
}

.welcome-main h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #fff;
  text-shadow: 1px 5px 2px #333;
  font-size: 36px;
}

img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: top;
}

/* Section paragraph */
.paragraph-main {
  padding: 40px;
}

.paragraph-main p {
  margin-bottom: 40px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.25;
}
